#試し
test copy*.html
test.html

#db
database.properties

# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.project
.classpath
.settings
.metadata
eclipse-formatter.xml

# vscode
.vscode

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Maven
target

# Build
out
build
bin

# Other
/study/WebContent/temp/
*.log
*.swp
*.bak

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
# .gradle
# !gradle-wrapper.jar

# npm
/npm/node_modules/
# /npm/js/
# /npm/css/
/npm/log/
/npm/package-lock.json
/study/WebContent/js/npm/
/study/WebContent/css/npm/

# image
# /study/WebContent/images/icon/

# Ignore Gradle project-specific cache directory
.gradle
bin/
build/
