#試し
test copy*.html
test.html

#db
database.properties
db_config.txt

# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.project
.classpath
.settings
.metadata
eclipse-formatter.xml

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/book-git-repository_js.code-workspace
!.vscode/book-git-repository_java.code-workspace

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Maven
target

# Build
out
build
bin

# Other
#/study/WebContent/temp/
*.log
*.swp
*.bak

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore Gradle project-specific cache directory
.gradle
!gradle-wrapper.jar
bin/
build/
package-lock.json
/study/node_modules/
/study/src/main/resources/static/js/
/study/src/main/resources/static/css/
/study/src/main/resources/static/res/
/study/src/main/resources/static/temp/
/study/src/main/resources/static/images/
studyTest/
test.js
