<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  lang="ja"
>
  <head> </head>

  <body>
    <div>
      <a
        th:fragment="sidebar_btn_fragment"
        class="btn"
        id="menu-btn"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu"
        aria-expanded="true"
        aria-controls="sidebarMenu"
      >
        <i class="bi bi-text-left" style="font-size: 20px; color: white"></i>
      </a>
    </div>
    <div
      th:fragment="sidebar_fragment"
      id="sidebarMenu"
      class="collapse show col-md-3 col-lg-2"
    >
      <nav class="active-nav d-block bg-light side-navbar">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                ダッシュボード
              </button>
              <div
                id="collapseOne"
                class="collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div>
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li class="nav-item">
                      <a
                        class="link-dark d-inline-flex text-decoration-none rounded"
                        aria-current="page"
                        th:href="@{/}"
                      >
                        <span data-feather="home"></span>
                        ダッシュボード
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                カテゴリー
              </button>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div>
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li class="nav-item">
                      <a
                        class="link-dark d-inline-flex text-decoration-none rounded"
                        th:href="@{/category/input}"
                      >
                        <span data-feather="package"></span>
                        カテゴリー_登録
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="link-dark d-inline-flex text-decoration-none rounded"
                        th:href="@{/category/list}"
                      >
                        <span data-feather="package"></span>
                        カテゴリー_確認
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                家計簿
              </button>
              <div
                id="collapseFour"
                class="collapse"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div>
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li class="nav-item">
                      <a
                        class="link-dark d-inline-flex text-decoration-none rounded"
                        th:href="@{/books/input}"
                      >
                        <span data-feather="package"></span>
                        家計簿_登録
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="link-dark d-inline-flex text-decoration-none rounded"
                        th:href="@{/books/export}"
                      >
                        <span data-feather="package"></span>
                        家計簿_出力
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="link-dark d-inline-flex text-decoration-none rounded"
                        th:href="@{/books/convert}"
                      >
                        <span data-feather="package"></span>
                        家計簿_変換
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="link-dark d-inline-flex text-decoration-none rounded"
                        th:href="@{/books/household}"
                      >
                        <span data-feather="package"></span>
                        家計簿_一覧
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                図色
              </button>
              <div
                id="collapseFive"
                class="collapse"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div>
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li class="nav-item">
                      <a
                        class="link-dark d-inline-flex text-decoration-none rounded"
                        th:href="@{/chartColour/index}"
                      >
                        <span data-feather="package"></span>
                        図の色確認
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                アカウント
              </button>
              <div
                id="collapseSix"
                class="collapse"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div>
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li class="nav-item" sec:authorize="hasRole('ROLE_SYSTEM')">
                      <a
                        class="link-dark d-inline-flex text-decoration-none rounded"
                        th:href="@{/system/account}"
                      >
                        <span data-feather="users"></span>
                        アカウント
                      </a>
                    </li>
                    <li class="nav-item">
                      <form th:action="@{/logout}" name="logout" method="post">
                        <a
                          class="link-dark d-inline-flex text-decoration-none rounded"
                          href="javascript:logout.submit()"
                        >
                          <span data-feather="log-out"></span>
                          ログアウト
                        </a>
                      </form>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeven"
                aria-expanded="false"
                aria-controls="collapseSeven"
              >
                旧メニュー
              </button>
              <div
                id="collapseSeven"
                class="collapse"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div>
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li class="nav-item">
                      <button
                        class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseSevenOne"
                        aria-expanded="false"
                        aria-controls="collapseSevenOne"
                      >
                        旧カテゴリー
                      </button>
                      <div
                        id="collapseSevenOne"
                        class="collapse"
                        aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample"
                      >
                        <div>
                          <ul
                            class="btn-toggle-nav list-unstyled fw-normal pb-1 small"
                          >
                            <li class="nav-item">
                              <a
                                class="link-dark d-inline-flex text-decoration-none rounded"
                                th:href="@{/thymeleaf/category/input}"
                              >
                                <span data-feather="package"></span>
                                カテゴリー_登録
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="link-dark d-inline-flex text-decoration-none rounded"
                                th:href="@{/thymeleaf/category/index}"
                              >
                                <span data-feather="package"></span>
                                カテゴリー_確認
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item">
                      <button
                        class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseFourOne"
                        aria-expanded="false"
                        aria-controls="collapseFourOne"
                      >
                        旧家計簿
                      </button>
                      <div
                        id="collapseFourOne"
                        class="collapse"
                        aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample"
                      >
                        <div>
                          <ul
                            class="btn-toggle-nav list-unstyled fw-normal pb-1 small"
                          >
                            <li class="nav-item">
                              <a
                                class="link-dark d-inline-flex text-decoration-none rounded"
                                th:href="@{/thymeleaf/books/input}"
                              >
                                <span data-feather="package"></span>
                                家計簿_登録
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="link-dark d-inline-flex text-decoration-none rounded"
                                th:href="@{/thymeleaf/books/export}"
                              >
                                <span data-feather="package"></span>
                                家計簿_出力
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="link-dark d-inline-flex text-decoration-none rounded"
                                th:href="@{/thymeleaf/books/index}"
                              >
                                <span data-feather="package"></span>
                                家計簿_一覧
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item">
                      <button
                        class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwoOne"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        課題
                      </button>
                      <div
                        id="collapseTwoOne"
                        class="collapse"
                        aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample"
                      >
                        <div>
                          <ul
                            class="btn-toggle-nav list-unstyled fw-normal pb-1 small"
                          >
                            <li class="nav-item">
                              <a
                                class="link-dark d-inline-flex text-decoration-none rounded"
                                th:href="@{/hoge/input}"
                              >
                                <span data-feather="package"></span>
                                課題1(hoge)
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
