<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  th:fragment="layout (title,body,scripts,links)"
>
  <!-- th:replaceを使用して、 <head>用のフラグメントを読込み -->
  <!-- 引数は下記のように指定 -->
  <!--<head th:replace="common/head :: head_fragment(title = 'study top', scripts = ~{common/header}, links = ~{common/header})">-->

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- コンテキストパス -->
    <meta name="contextPath" th:content="${contextPath}" />
    <!-- CSRF対策用トークン jsで使用-->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <meta name="_csrf_parameterName" th:content="${_csrf.parameterName}" />
    <title th:replace="${title}"></title>
    <!-- 全画面共通のcssを定義 -->
    <!-- 全 .css がバンドルされた vendor.bundle.css を指定 -->
    <!-- 画像パスなどは webpack（各 publicPath 設定） により自動的に解決されている -->
    <link th:href="@{/css/depens.bundle.css}" rel="stylesheet" />
    <!-- 各画面専用のcssを定義 -->
    <th:block
      th:if="${#!strings.isEmpty(links)}"
      th:replace="${links}"
    ></th:block>
  </head>

  <body>
    <!--共通ヘッダーの読み込み -->
    <div th:replace="~{common/header :: header_fragment}"></div>
    <div class="container-fluid">
      <div class="row">
        <!--共通サイドバーの読み込み -->
        <div th:replace="~{common/sidebar :: sidebar_fragment}"></div>
        <!--bodyの読み込み -->
        <main class="my-container col-md-9 col-lg-10 px-md-4">
          <div id="body" th:replace="${body}"></div>
        </main>
      </div>
    </div>

    <!-- 全画面共通のjavascriptを定義 -->
    <!-- 共通ライブラリーがバンドルされた vendor.bundle.js -->
    <!-- 各画面で同一ファイルとなるためブラウザーキャッシュが効く -->
    <script th:src="@{/js/vendor.bundle.js}"></script>
    <script th:src="@{/js/depens.bundle.js}"></script>
    <!-- 各画面専用のjavascriptを定義 -->
    <th:block
      th:if="${#!strings.isEmpty(scripts)}"
      th:replace="${scripts}"
    ></th:block>
  </body>
</html>
