html {
  font-size: 100%;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
  outline: 1px solid magenta;
}

body {
  margin: 0;
  padding: 0;
}

#btn {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
#prev,
#next {
  width: 40%;
  text-align: center;
  background-color: silver;
  cursor: pointer;

  /* buttonタグのリセット */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 0;
  background: #ccc;

  /* buttonタグの装飾 */
  background-color: silver;
  color: #000000;
}

/* アイテムに色を付けるための物（消してもOK） */
#item1 {  background-color: red;}
#item2 {  background-color: blue;}
#item3 {  background-color: green;}
#item4 {  background-color: yellow;}
#item5 {  background-color: purple;}

/*----------------------------------------------------------------------------*/
#slider {
  overflow: hidden;
}

#slider-contents {
  background-color: pink;
  display: flex;
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
}

#item1,
#item2,
#item3,
#item4,
#item5 {
  height: 450px;
  min-width: 450px;
  margin-right: 40px;

  line-height: 450px;
  text-align: center;
  font-size: 50px;
  /* ↓IDが優先されてしまって-120pxに固定されてしまっているので消す必要がある */
  /* transform: translateX(-120px); */
}

.slider-item1 {
  /* 1200px(slider-contents) - 450px(#item1) - 80px(margin-right × 2) = 670px */
  /* 670px ÷ 2 = 335px （slider-contentsの中にある両サイドの#itemの幅が分かる） */
  /* 450px(#item2or5) - 335px = 115px */
  /* item1の前にはitem4とitem5の複製があるので、115pxに490pxを足して605pxにしている */
  transform: translateX(-605px);
  transition: all 1s ease 0s;
}

.slider-item2 {
  /* 450px(#itemのwidth) + 40px(margin-right) × 5(#itemの数) = 2450px */
  /* 2450px ÷ 5 = 490px　(490pxずつずらせば#itemが中央ぞろえになる) */
  transform: translateX(-1095px);
  transition: all 1s ease 0s;
}

.slider-item3 {
  transform: translateX(-1585px);
  transition: all 1s ease 0s;
}

.slider-item4 {
  transform: translateX(-2075px);
  transition: all 1s ease 0s;
}

.slider-item5 {
  transform: translateX(-2565px);
  transition: all 1s ease 0s;
}

/* item5の次の複製したitem1に移動（表示）させる */
.slider-item1_copy {
  transform: translateX(-3055px);
  transition: all 1s ease 0s;
}

/* 初期位置に戻す（item1が表示されている位置） */
/* .slider-item1を再利用しないのはtransitionを0sにして即時に移動させたいため */
.slider-item1_return {
  transform: translateX(-605px);
  transition: all 0s ease 0s;
}


.slider-item5_copy {
  transform: translateX(-115px);
  transition: all 1s ease 0s;
}


.slider-item5_return {
  transform: translateX(-2565px);
  transition: all 0s ease 0s;
}
