<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/template :: layout(~{::title},~{::body/content()},~{},~{})}">

<head>
	<title>図色設定画面</title>
</head>

<body>
	<div
		class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h3">図色設定画面</h1>
	</div>
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a href="#tab1" class="nav-link" th:classappend="${tab1}" data-bs-toggle="tab">設定済みテンプレート</a>
		</li>
		<li class="nav-item">
			<a href="#tab2" class="nav-link" th:classappend="${tab2}" data-bs-toggle="tab">リスト</a>
		</li>
		<li class="nav-item">
			<a href="#tab3" class="nav-link" th:classappend="${tab3}" data-bs-toggle="tab"> ランダム</a>
		</li>
		<li class="nav-item">
			<a href="#tab4" class="nav-link" th:classappend="${tab4}" data-bs-toggle="tab"> 手動で登録</a>
		</li>
	</ul>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<a class="btn btn-link" th:href="@{/chartColour/index(tab = ${tab})}" id="reload">
					<span data-feather="user-plus">再読み込み</span>
				</a>
			</div>
		</div>
	</div>
	<div class="tab-content">
		<div id="tab1" class="tab-pane" th:classappend="${tab1}">
			<!-- タブ1(リスト)のコンテンツが入ります -->
			<div class="container">
				<div class="row">
					<span th:text="${chartColourResultMessage}" class="text-success"></span>
				</div>
				<div class="row">
					<div class="col-12">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th hidden>ID</th>
									<th>名称</th>
									<th>設定</th>
									<th>シード値係数(R)</th>
									<th>シード値係数(G)</th>
									<th>シード値係数(B)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td hidden class="center" th:text="${activeColour.templateId}"></td>
									<td th:text="${activeColour.templateName}"></td>
									<th:block th:if="${activeColour.active == '1'}">
										<td>設定されています</td>
									</th:block>
									<th:block th:if="${activeColour.active != '1'}">
										<td>設定されていません</td>
									</th:block>
									<td th:text="${activeColour.seedCoeffR}"></td>
									<td th:text="${activeColour.seedCoeffG}"></td>
									<td th:text="${activeColour.seedCoeffB}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<canvas id="doughnutActiveTemp"></canvas>
					</div>
					<div class="col-6">
						<canvas id="barActiveTemp"></canvas>
					</div>
					<a hiidden id="restActiveTemp" th:href="@{/chartColour/rest/chart}"></a>
				</div>
			</div>
		</div>
		<div id="tab2" class="tab-pane" th:classappend="${tab2}">
			<div class="container">
				<div class="row">
					<span th:text="${inputResultMessage}" class="text-success"></span>
				</div>
				<div class="row">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th hidden>ID</th>
								<th>変更</th>
								<th>名称</th>
								<th>設定</th>
								<th>シード値係数(R)</th>
								<th>シード値係数(G)</th>
								<th>シード値係数(B)</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="tempColour : ${tempColourList}" th:object="${tempColour}">
								<td hidden th:text="${tempColour.templateId}"></td>
								<td class="center">
									<button type="button" class="btn btn-primary" data-bs-toggle="modal"
										data-bs-target="#listModal">
										確認
									</button>
								</td>
								<td th:text="${tempColour.templateName}"></td>
								<th:block th:if="${tempColour.active == '1'}">
									<td>設定されています</td>
								</th:block>
								<th:block th:if="${tempColour.active != '1'}">
									<td>設定されていません</td>
								</th:block>
								<td th:text="${tempColour.seedCoeffR}"></td>
								<td th:text="${tempColour.seedCoeffG}"></td>
								<td th:text="${tempColour.seedCoeffB}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--hidden model -->
			<div class="modal fade" tabindex="-1" id="listModal">
				<div class="modal-dialog modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">下記のテンプレートに変更しますか？</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<label>テンプレート名：</label>
							<input type="text" id="templateNameList">
							<input hidden type="text" id="templateIdList">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<canvas id="doughnutConfirmTempList"></canvas>
									</div>
								</div>
								<div class="row">
									<div class="col-12">
										<canvas id="barConfirmTempList"></canvas>
									</div>
								</div>
								<a hiidden id="restConfirmTempList" th:href="@{/chartColour/rest/confirm}"></a>
							</div>
							<div class="row border-bottom my-2"></div>
						</div>
						<div class="modal-footer">
							<div class="container">
								<div class="row">
									<div class="col-3">
										<button type="button" class="btn btn-danger float-start"
											data-bs-target="#listModalDelete" data-bs-toggle="modal"
											data-bs-dismiss="modal">削除</button>
									</div>
									<div class="col-9">
										<button type="button" class="btn btn-secondary float-end"
											data-bs-dismiss="modal">閉じる</button>
										<button type="button" class="btn btn-primary float-end"
											id="saveListModal">変更</button>
										<a hiidden id="savelistModalUrl" th:href="@{/chartColour/changeActive}"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--hidden model 削除確認用-->
			<div class="modal fade" id="listModalDelete" aria-hidden="true" aria-labelledby="listModalDelete"
				tabindex="-1">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">本当に削除してもよろしいでしょうか？</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							削除されたテンプレートはもとに戻すことができません。ご注意ください
						</div>
						<div class="modal-footer">
							<div class="container">
								<div class="row">
									<div class="col-3">
										<button type="button" class="btn btn-danger float-start"
											id="deleteListModal">削除</button>
									</div>
									<div class="col-9">
										<a hiidden id="deletelistModalUrl" th:href="@{/chartColour/delete}"></a>
										<button class="btn btn-primary float-end" data-bs-target="#listModal"
											data-bs-toggle="modal" data-bs-dismiss="modal">戻る</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="tab3" class="tab-pane" th:classappend="${tab3}">
			<div class="container" id='randomContainer'>
				<div class="row" th:each="randomColour, stat : ${randomColourList}" th:object="${randomColour}">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th hidden>ID</th>
								<th>変更</th>
								<th>名称</th>
								<th hidden>設定</th>
								<th>シード値係数(R)</th>
								<th>シード値係数(G)</th>
								<th>シード値係数(B)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td hidden th:text="${randomColour.templateId}"></td>
								<td class="center">
									<button type="button" class="btn btn-primary">
										登録
									</button>
								</td>
								<td><input type="text" class="form-control" placeholder="名称を入力してください" required></td>
								<th:block th:if="${randomColour.active == '1'}">
									<td hidden>設定されています</td>
								</th:block>
								<th:block th:if="${randomColour.active != '1'}">
									<td hidden>設定されていません</td>
								</th:block>
								<td th:text="${randomColour.seedCoeffR}"></td>
								<td th:text="${randomColour.seedCoeffG}"></td>
								<td th:text="${randomColour.seedCoeffB}"></td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-6">
							<canvas th:id="${'doughnutRandom' + stat.index}"></canvas>
						</div>
						<div class="col-6">
							<canvas th:id="${'barRandom' + stat.index}"></canvas>
						</div>
					</div>
					<a hiidden th:id="${'restRandom' + stat.index}" th:href="@{/chartColour/rest/confirm}"></a>
					<div class="row border-bottom my-2"></div>
				</div>
			</div>
			<a hiidden id="saveRandomModalUrl" th:href="@{/chartColour/input}"></a>
		</div>
		<div id="tab4" class="tab-pane" th:classappend="${tab4}">
			<div class="container">
				<form class="needs-validation" th:action="@{/chartColour/input}" th:object="${templatechartcolourForm}"
					method="post">
					<div class="row g-3">
						<div class="col-sm-12">
							<label for="templateName" class="form-label">テンプレート名</label>
							<input type="text" id="templateNameInput" th:field="*{templateName}" class="form-control"
								placeholder="" required>
							<p th:if="${#fields.hasErrors('templateName')}" th:errors="*{templateName}"
								class="input-error">
							</p>
						</div>
					</div>
					<div class="row g-3">
						<div class="col-sm-4">
							<label for="seedCoeffR" class="form-label">シード値係数(R)</label>
							<input type="number" maxlength="8" id="seedCoeffRInput" th:field="*{seedCoeffR}"
								class="form-control" placeholder="" required>
							<p th:if="${#fields.hasErrors('seedCoeffR')}" th:errors="*{seedCoeffR}" class="input-error">
							</p>
						</div>
						<div class="col-sm-4">
							<label for="seedCoeffG" class="form-label">シード値係数(G)</label>
							<input type="number" maxlength="8" id="seedCoeffGInput" th:field="*{seedCoeffG}"
								class="form-control" placeholder="" required>
							<p th:if="${#fields.hasErrors('seedCoeffG')}" th:errors="*{seedCoeffG}" class="input-error">
							</p>
						</div>
						<div class="col-sm-4">
							<label for="seedCoeffB" class="form-label">シード値係数(B)</label>
							<input type="number" maxlength="8" id="seedCoeffBInput" th:field="*{seedCoeffB}"
								class="form-control" placeholder="" required>
							<p th:if="${#fields.hasErrors('seedCoeffB')}" th:errors="*{seedCoeffB}" class="input-error">
							</p>
						</div>
					</div>
					<div class="row g-3">
						<div class="col-12">
							<label for="note" class="form-label">メモ</label>
							<textarea th:field="*{note}" id="templateNoteInput" class="form-control"
								rows="3"></textarea>
							<p th:if="${#fields.hasErrors('note')}" th:errors="*{note}" class="input-error">
							</p>
						</div>
					</div>
					<hr class="my-4">
					<div>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal"
							data-bs-target="#confirmModal">
							確認
						</button>
					</div>
					<!-- <button class="w-80 btn btn-primary btn-lg" type="submit">確認</button> -->
				</form>
			</div>
			<!--hidden model -->
			<div class="modal fade" tabindex="-1" id="confirmModal">
				<div class="modal-dialog modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">下記の内容でよろしいですか？</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p id="templateNameConfirm">テンプレート名：</p>
							<div class="container">
								<div class="row">
									<div class="col-12">
										<canvas id="doughnutConfirmTemp"></canvas>
									</div>
								</div>
								<div class="row">
									<div class="col-12">
										<canvas id="barConfirmTemp"></canvas>
									</div>
								</div>
								<a hiidden id="restConfirmTemp" th:href="@{/chartColour/rest/confirm}"></a>
							</div>
							<div class="row border-bottom my-2"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
							<button type="button" class="btn btn-primary" id="saveConfirmModal">保存</button>
							<a hiidden id="saveConfirmModalUrl" th:href="@{/chartColour/input}"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row border-bottom my-2"></div>
	</div>
	</div>
	</div>
	<script>

	</script>
	<script>
		//bootstrap タブ切り替え時のイベントを取得し、現在開いているタブを記憶するように変更
		//https://getbootstrap.jp/docs/5.0/components/navs-tabs/ のイベントを参照
		const tabEl = document.querySelectorAll('[data-bs-toggle="tab"]');
		for (var i = 0; i < tabEl.length; i++) {
			//このイベントは、タブが表示された後のタブ表示時に発生します。event.target と event.relatedTarget を使用して、それぞれアクティブなタブと前のアクティブなタブをターゲットにします。
			tabEl[i].addEventListener("shown.bs.tab", function (event) {
				//event.target; // newly activated tab
				//event.relatedTarget; // previous active tab
				//datePickerに関係しているaタグを取得
				const datePicker = ['#reload'];
				for (var i = 0; i < datePicker.length; i++) {
					setAtagHrefParm(datePicker[i], 'tab', event.target.getAttribute('href').replace('#', ''));
				}
			});
		}
	</script>

</body>

</html>
<script>
	//chart
	//処理の実行
	// urlからパラメーターを取得
	const paaramDate = getLocationHrefParm('qty');
	//qty java側で0の時は置換
	const qty = paaramDate == null ? 0 : paaramDate;
	//ドーナツ
	const DOUGHNUT = 'ドーナッツ';
	//ホライゾンバー
	const HORIZONTAL_BAR = 'ホライゾンバー';
	//表示するchart
	const functions = [doughnutChart, barChart];

	//tab1
	//テンプレートチャート
	//chartを表示するときの引数、1行で配列の中に配列を記載しようとthymeleafの変数参照の書き方とかぶってしまうため改行をはさんでいる
	let functionArgs =
		[
			['doughnutActiveTemp', DOUGHNUT],
			['barActiveTemp', HORIZONTAL_BAR]
		];
	const restActiveTempUrl = setAtagHrefParm('#restActiveTemp', 'qty', qty);
	ajax('POST', restActiveTempUrl, '', PARALLEL, functions, functionArgs);

	//tab3
	//ランダムチャート
	const randomContainer = document.getElementById('randomContainer');
	const randomCanvasIds = Array.prototype.map.call(randomContainer.querySelectorAll('canvas'), function (value) {
		return value.id;
	});
	const randomCanvasHerfIds = Array.prototype.map.call(randomContainer.querySelectorAll('a'), function (value) {
		return value.id;
	});
	const randomTableBodys = randomContainer.querySelectorAll('tbody');
	randomCanvasHerfIds.forEach((value, index) => {
		//console.log('ランダム:' + index);
		functionArgs =
			[
				[randomCanvasIds[index * 2], DOUGHNUT],
				[randomCanvasIds[index * 2 + 1], HORIZONTAL_BAR]
			];
		const tds = randomTableBodys[index].querySelectorAll('td');
		const tdInoutBtn = tds[1].querySelector('button');
		//ボタンへのイベントの追加
		tdInoutBtn.addEventListener('click', function (event) {
			//console.log(event);
			//クリックした時のボタン
			const button = event.target;
			const tdsByButton = button.parentNode.parentNode.querySelectorAll('td');
			const tdInputValue = tdsByButton[2].querySelector('input').value;
			//buttonからその行を特定しそれぞれの<td>タグの内容を取得
			const tdValuesbyButton = Array.prototype.map.call(tdsByButton, function (value) {
				return value.textContent;
			})
			//入力パラム
			const randomParamsByButton = {
				'qty': qty,
				'templateName': tdInputValue,
				'seedCoeffR': tdValuesbyButton[4],
				'seedCoeffG': tdValuesbyButton[5],
				'seedCoeffB': tdValuesbyButton[6]
				//'note': document.getElementById('templateNoteInput').value
			}
			//送信url
			const submitUrl = document.getElementById('saveRandomModalUrl').href;
			//保存処理実行
			submit('POST', submitUrl, randomParamsByButton);
		})
		const tdValues = Array.prototype.map.call(tds, function (value) {
			return value.textContent;
		});
		const randomParams = {
			'qty': qty,
			'seedCoeffR': tdValues[4],
			'seedCoeffG': tdValues[5],
			'seedCoeffB': tdValues[6]
		}

		//確認用ドーナツチャート取得url
		const restRandomUrl = setAtagHrefParms('#' + value, randomParams);
		//console.log(restRandomUrl);
		ajax('POST', restRandomUrl, '', PARALLEL, functions, functionArgs);
	});

	//tab4 手動で登録
	//確認用デフォルトパラム
	const confirmDefData = {
		labels: ['項目1', '項目2', '項目3', '項目4'],
		datasets: [{
			data: [10000, 20000, 3000, 4000],
			backgroundColor: [
				'rgba(255, 112, 166, 0.5)',
				'rgba(255, 151, 112, 0.5)',
				'rgba(255, 214, 112, 0.5)',
				'rgba(112, 214, 255, 0.5)',
			],
			borderColor: [
				'rgba(255, 112, 166, 1)',
				'rgba(255, 151, 112, 1)',
				'rgba(255, 214, 112, 1)',
				'rgba(112, 214, 255, 1)',
			],
		}]
	};
	//確認用デフォルトドーナツチャート
	const doughnutConfirmTempChart = doughnutChart(confirmDefData, ['doughnutConfirmTemp', DOUGHNUT]);
	//確認用デフォルトのホライゾンバーチャート
	const barConfirmTempChart = barChart(confirmDefData, ['barConfirmTemp', HORIZONTAL_BAR]);
	//confirm model
	const confirmModalEl = document.getElementById('confirmModal');
	//エラー判定用
	let isConfirmModalErr = false;
	//modalが開き始めるとき
	confirmModalEl.addEventListener('show.bs.modal', function (event) {
		//model内に入力したテンプレート名の値を挿入
		document.getElementById('templateNameConfirm').innerHTML = 'テンプレート名：' + document.getElementById("templateNameInput").value;
		//chartのupdate
		//確認用パラム
		const confirmParams = {
			'qty': qty,
			'seedCoeffR': document.getElementById('seedCoeffRInput').value,
			'seedCoeffG': document.getElementById('seedCoeffGInput').value,
			'seedCoeffB': document.getElementById('seedCoeffBInput').value
		}
		//確認用ドーナツチャート取得url
		const restConfirmTempUrl = setAtagHrefParms('#restConfirmTemp', confirmParams);
		const charts = [doughnutConfirmTempChart, barConfirmTempChart];
		const functions = [updateDataDoughnut, updateDataBar];
		//確認用のjsonデータを取得しchartを更新
		ajax('POST', restConfirmTempUrl, '', PARALLEL, functions, charts)
			//エラーの時
			.catch(function (error) {
				//エラー判定用フラグをtrue
				isConfirmModalErr = true;
				//画面にerrの内容を表示
				alert(error.message);
			});
	});
	//modalが開き終わったとき
	confirmModalEl.addEventListener('shown.bs.modal', function (event) {
		//エラー時には自動で閉じる
		if (isConfirmModalErr) {
			bootstrap.Modal.getInstance(confirmModalEl).hide();
			isConfirmModalErr = false;
		}
	});
	//model内のボタンにイベントの追加
	//confirm model-save-button
	//const confirmModalSaveButton = document.getElementById('saveConfirmModal');
	const confirmModalSaveButton = confirmModalEl.querySelector('#saveConfirmModal');
	confirmModalSaveButton.addEventListener('click', function (event) {
		//入力パラム
		const confirmParams = {
			'qty': qty,
			'templateName': document.getElementById('templateNameInput').value,
			'seedCoeffR': document.getElementById('seedCoeffRInput').value,
			'seedCoeffG': document.getElementById('seedCoeffGInput').value,
			'seedCoeffB': document.getElementById('seedCoeffBInput').value,
			'note': document.getElementById('templateNoteInput').value
		}
		//送信url
		const submitUrl = document.getElementById('saveConfirmModalUrl').href;
		//保存処理実行
		submit('POST', submitUrl, confirmParams);
	})

	//tab2
	//list model
	//確認用デフォルトドーナツチャート
	const doughnutConfirmTempListChart = doughnutChart(confirmDefData, ['doughnutConfirmTempList', DOUGHNUT]);
	//確認用デフォルトのホライゾンバーチャート
	const barConfirmTempListChart = barChart(confirmDefData, ['barConfirmTempList', HORIZONTAL_BAR]);
	//list model
	const listModalEl = document.getElementById('listModal');
	//エラー判定用
	let isListModalErr = false;
	//modalが開き始めるとき
	listModalEl.addEventListener('show.bs.modal', function (event) {
		//クリックした時のボタン
		const button = event.relatedTarget;
		//buttonからその行を特定しそれぞれの<td>タグの内容を取得
		const tdValues = Array.prototype.map.call(button.parentNode.parentNode.querySelectorAll('td'), function (value) {
			return value.textContent;
		})//.filter(function (v) {
		//	return v !== "";
		//});
		//console.log(tdValues);
		//model内に入力したテンプレート名の値を挿入
		document.getElementById('templateIdList').value = tdValues[0]
		document.getElementById('templateNameList').value = tdValues[2];

		//chartのupdate
		//確認用パラム
		const confirmParams = {
			'qty': qty,
			'seedCoeffR': tdValues[4],
			'seedCoeffG': tdValues[5],
			'seedCoeffB': tdValues[6]
		}

		//確認用ドーナツチャート取得url
		const restConfirmTempUrl = setAtagHrefParms('#restConfirmTempList', confirmParams);
		const charts = [doughnutConfirmTempListChart, barConfirmTempListChart];
		const functions = [updateDataDoughnut, updateDataBar];
		//確認用のjsonデータを取得しchartを更新
		ajax('POST', restConfirmTempUrl, '', PARALLEL, functions, charts)
			//エラーの時
			.catch(function (error) {
				//エラー判定用フラグをtrue
				isListModalErr = true;
				//画面にerrの内容を表示
				alert(error.message);
			});
	})
	//modalが開き終わったとき
	listModalEl.addEventListener('shown.bs.modal', function (event) {
		//エラー時には自動で閉じる
		if (isListModalErr) {
			bootstrap.Modal.getInstance(listModalEl).hide();
			isListModalErr = false;
		}
	});

	//model内のボタンにイベントの追加
	//confirm model-change-button
	const listModalSaveButton = listModalEl.querySelector('#saveListModal');
	listModalSaveButton.addEventListener('click', function (event) {
		//入力パラム
		const listParams = {
			'qty': qty,
			'templateName': document.getElementById('templateNameList').value,
			'templateId': document.getElementById('templateIdList').value,
		}
		const submitUrl = document.getElementById('savelistModalUrl').href;
		//保存処理実行
		submit('POST', submitUrl, listParams);
	})

	//list model delete
	const listModalDeleteEl = document.getElementById('listModalDelete');
	const listModaldeleteButton = listModalDeleteEl.querySelector('#deleteListModal');
	listModaldeleteButton.addEventListener('click', function (event) {
		//入力パラム
		const listDeleteParams = {
			'qty': qty,
			'templateId': document.getElementById('templateIdList').value,
		}
		const submitUrl = document.getElementById('deletelistModalUrl').href;
		//削除処理実行
		submit('POST', submitUrl, listDeleteParams);
	})

</script>
0
