<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/template :: layout(~{::title},~{::body/content()},~{},~{})}">

<head>
	<title>家計簿支出情報一覧</title>
</head>

<body>
	<div
		class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h3">家計簿支出一覧</h1>
		<div class="btn-group ml-auto">
			<a class="btn btn-link" th:href="@{/books/input}">
				<span data-feather="user-plus"></span>
				家計簿支出一括登録
			</a>
		</div>
	</div>
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a href="#tab1" class="nav-link" th:classappend="${tab1}" data-bs-toggle="tab">リスト_支出</a>
		</li>
		<li class="nav-item">
			<a href="#tab2" class="nav-link" th:classappend="${tab2}" data-bs-toggle="tab">リスト_収入</a>
		</li>
		<li class="nav-item">
			<a href="#tab3" class="nav-link" th:classappend="${tab3}" data-bs-toggle="tab">グラフ</a>
		</li>
		<li class="nav-item">
			<a href="#tab4" class="nav-link" th:classappend="${tab4}" data-bs-toggle="tab">カレンダー_支出</a>
		</li>
	</ul>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<a class="btn btn-link"
					th:href="@{/books/list(date = ${#dates.format(backDate, 'yyyy/MM/dd')}, tab = ${tab})}"
					id="datepicker-right">
					<span data-feather="user-plus">前月</span>
				</a>
				<span th:text="${#dates.year(date) + '年' + #dates.month(date) + '月'}" id="selectDate"></span>
				<a class="btn btn-link"
					th:href="@{/books/list(date = ${#dates.format(nextDate, 'yyyy/MM/dd')}, tab = ${tab})}"
					id="datepicker-left">
					<span data-feather="user-plus">次月</span>
				</a>
				<input type="text" name="datepicker" id="js-datepicker" placeholder="日付を選択してください" readonly="readonly">
				<a hidden th:href="@{/books/list}" id="datepicker"></a>
			</div>
			<div class="col-2">
				<span data-feather="user-plus">総支出：[[${sumAmountByExpenses}]]</span>
				<!-- 総支出保存タグ -->
				<span hidden id="sumAmountByExpenses">[[${sumAmountByExpenses}]]</span>
			</div>
			<div class="col-2">
				<span data-feather="user-plus">総収入：[[${sumAmountByIncome}]]</span>
				<!-- 総収入保存タグ -->
				<span hidden id="sumAmountByIncome">[[${sumAmountByIncome}]]</span>
			</div>
			<div class="col-2">
				<span data-feather="user-plus">貯金額：[[${differenceSumAmount}]]</span>
				<!-- 貯金額保存タグ -->
				<span hidden id="differenceSumAmount">[[${differenceSumAmount}]]</span>
			</div>
		</div>
	</div>
	<div class="tab-content">
		<div id="tab1" class="tab-pane" th:classappend="${tab1}">
			<!-- タブ1(リスト_支出)のコンテンツが入ります -->
			<div class="container">
				<table id="bookslistByExpensesTable" class="table table-bordered">
					<thead>
						<tr>
							<th>日付</th>
							<th>名称</th>
							<th>カテゴリー</th>
							<th>決済方法</th>
							<th>金額</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="books : ${bookslistByExpenses}" th:object="${books}">
							<td class="center" th:text="${#dates.format(books.booksDate, 'yyyy/MM/dd')}"></td>
							<td th:text="${books.booksPlace}"></td>
							<td class="center">
								<span th:text="${books.catCodes.catName}"></span>
								<img th:src="@{${books.catCodes.imgIds.imgPath + '/' + books.catCodes.imgIds.imgName}}"
									class="mh-100 mw-100" width="40" height="30" />
							</td>
							<td th:text="${books.booksMethod}"></td>
							<td th:text="${books.booksAmmount}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="tab2" class="tab-pane" th:classappend="${tab2}">
			<!-- タブ2(リスト_収入)のコンテンツが入ります -->
			<div class="container">
				<table id="bookslistByIncomeTable" class="table table-bordered">
					<thead>
						<tr>
							<th>日付</th>
							<th>名称</th>
							<th>カテゴリー</th>
							<th>決済方法</th>
							<th>金額</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="books : ${bookslistByIncome}" th:object="${books}">
							<td class="center" th:text="${#dates.format(books.booksDate, 'yyyy/MM/dd')}"></td>
							<td th:text="${books.booksPlace}"></td>
							<td class="center">
								<span th:text="${books.catCodes.catName}"></span>
								<img th:src="@{${books.catCodes.imgIds.imgPath + '/' + books.catCodes.imgIds.imgName}}"
									class="mh-100 mw-100" width="40" height="30" />
							</td>
							<td th:text="${books.booksMethod}"></td>
							<td th:text="${books.booksAmmount}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="tab3" class="tab-pane" th:classappend="${tab3}">
			<!-- タブ3(リグラフ)のコンテンツが入ります -->
			<div class="container">
				<div class="row">
					<div class="col-12">
						<canvas id="barAndLineByYear"></canvas>
					</div>
					<a hiidden id="restBarAndLineByYear" th:href="@{/books/rest/chart/byYear/all}"></a>
				</div>
				<div class="row border-bottom my-2"></div>
				<div class="row">
					<h1 class="h4">以下 支出のみ</h1>
				</div>
				<div class="row border-bottom my-2"></div>
				<div class="row">
					<div class="col-6">
						<canvas id="doughnutCategory"></canvas>
					</div>
					<div class="col-6">
						<canvas id="barCategory"></canvas>
					</div>
					<a hiidden id="restCategory" th:href="@{/books/rest/chart/byMonth/category}"></a>
				</div>
				<div class="row border-bottom my-2"></div>
				<div class="row">
					<div class="col-6">
						<canvas id="doughnutMethod"></canvas>
					</div>
					<div class="col-6">
						<canvas id="barMethod"></canvas>
					</div>
					<a hiidden id="restMethod" th:href="@{/books/rest/chart/byMonth/method}"></a>
				</div>
			</div>
		</div>
		<div id="tab4" class="tab-pane" th:classappend="${tab4}">
			<!-- タブ4(グラフ)のコンテンツが入ります -->
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- xxxx年xx月を表示 -->
						<h1 id="tabCalendarHeader"></h1>

						<!-- ボタンクリックで月移動 -->
						<!-- <div id="next-prev-button">
							<button id="prev" onclick="prev()">‹</button>
							<button id="next" onclick="next()">›</button>
						</div> -->

						<!-- カレンダー -->
						<div id="tabCalendar"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<!-- 家計簿 -->
						<div id="booksListbytabCalendar"></div>
					</div>
				</div>
				<a hiidden id="syukujitsuList" th:href="@{/books/rest/calendar/syukujitsu}"></a>
				<a hiidden id="AmountByDayList" th:href="@{/books/rest/calendar/AmountByDay}"></a>
			</div>
		</div>
	</div>
	<script>
		//flatpickr
		document.addEventListener('DOMContentLoaded', function () {

			/* 同画面内の全flatpickerの設定値を変更する場合
			const defaltConfig = {
				defaultDate: date
			};
			//強制的に同画面内の全flatpickerのデフォルト値を変更する場合
			flatpickr.setDefaults(defaltConfig);
			//強制的に同画面内の全flatpickerのロケールを変更する場合
			flatpickr.localize(flatpickr.l10ns.ja);
			*/

			//呼び出すflatpickrに渡すconfigの設定 このconfigを渡されたflatpickrだけに有効
			//https://tr.you84815.space/flatpickr/index.html 参照
			const config = {
				//月だけのカレンダーを呼ぶ(pligins)
				plugins: [
					new monthSelectPlugin({
						shorthand: true, // デフォルトはfalse
						dateFormat: 'Y/m', // デフォルトは"F Y"
						altFormat: 'F Y', // デフォルトは"F Y"
						theme: 'dark' // デフォルトは"light"
					})
				],
				//言語設定
				locale: 'ja',
				//初期選択日付けのはずだが年月までしか反映されない…
				//そのため年までセットされたあとに初期選択をクリアするようにした(onReady)
				defaultDate: date,
				//カレンダーの準備完了時に選択済みの日付をクリア(画面には選択した日付ではなくプレースホルダを表示したいため)
				onReady: [function () {
					this.clear(false);
				}],
				//カレンダーを開いたとき
				onOpen: [function () {
					//setDate(date, triggerChange, dateStrFormat) triggerChangeをtrueにすることでonValueUpdate、onChangeを発火可能
					//this.setDate(date, false);
					//this.currentMonth = date.getMonth();
				}],

				//月を選択して値が書き換えられたときに発火
				onValueUpdate: [function () {
					const selectDate = this.selectedDates[0]; // 入力値を取得 選択した日付
					//ページ遷移
					//次月へのaタグからurlを取得し、日付けだけ書き換えて送信
					//uriはエンコードしている
					window.location.href = setAtagHrefParm("#datepicker-right", 'date', selectDate);
				}]
			};
			//カレンダー(月だけ)
			flatpickr('#js-datepicker', config);
			//通常(月だけの表示にしていない)のカレンダーの場合
			//flatpickr('js-datepicker', {
			//  locale: 'ja'
			//});
		});
	</script>
	<script>
		//bootstrap タブ切り替え時のイベントを取得し、現在開いているタブを記憶するように変更
		//https://getbootstrap.jp/docs/5.0/components/navs-tabs/ のイベントを参照
		const tabEl = document.querySelectorAll('[data-bs-toggle="tab"]');
		for (var i = 0; i < tabEl.length; i++) {
			//このイベントは、タブが表示された後のタブ表示時に発生します。
			//event.target と event.relatedTarget を使用して、それぞれアクティブなタブと前のアクティブなタブをターゲットにします。
			tabEl[i].addEventListener("shown.bs.tab", function (event) {
				//event.target; // newly activated tab
				//event.relatedTarget; // previous active tab
				//datePickerに関係しているaタグを取得
				const datePicker = ['#datepicker', '#datepicker-right', '#datepicker-left'];
				for (var i = 0; i < datePicker.length; i++) {
					setAtagHrefParm(datePicker[i], 'tab', event.target.getAttribute('href').replace('#', ''));
				}
			});
		}
	</script>
</body>

</html>
<script>
	//テーブルの内容を並び替えできるようにイベントを追加
	//リスト_支出
	addEventListenerOfSortAndFilterTable('bookslistByExpensesTable', 'AND');
	//リスト_収入
	addEventListenerOfSortAndFilterTable('bookslistByIncomeTable', 'AND');
</script>
<script>
	//グローバル日付けの定義
	//dateパラメーターが設定されていたらそれを、設定されていなかったら本日の日付を設定
	const date = getStudyDate();
</script>
<script>
	//chart
	//処理の実行
	//barとline（年ごとのチャート）
	const restBarAndLineByYearUrl = setAtagHrefParm('#restBarAndLineByYear', 'date', date);
	let functionArgs = ['barAndLineByYear', '過去12ヶ月'];
	ajax('POST', restBarAndLineByYearUrl, '', PARALLEL, barAndLineChart, functionArgs);

	//表示するchart
	const functions = [doughnutChart, barChart];
	//カテゴリーごとのチャート
	const restCategoryUrl = setAtagHrefParm('#restCategory', 'date', date);
	//chartを表示するときの引数、1行で中に配列の中に配列を記載しようとtymeleafeの変数参照の書き方とかぶってしまうため改行をはさんでいる
	functionArgs =
		[
			['doughnutCategory', 'カテゴリー別'],
			['barCategory', 'カテゴリー別']
		];
	ajax('POST', restCategoryUrl, '', PARALLEL, functions, functionArgs);

	//支払いごとのチャート
	const restMethodUrl = setAtagHrefParm('#restMethod', 'date', date);
	//chartを表示するときの引数、1行で中に配列の中に配列を記載しようとtymeleafeの変数参照の書き方とかぶってしまうため改行をはさんでいる
	functionArgs =
		[
			['doughnutMethod', '支払い別'],
			['barMethod', '支払い別']
		];
	ajax('POST', restMethodUrl, '', PARALLEL, functions, functionArgs);
</script>
<script>
	//祝日リスト取得用url
	const syukujitsuUrl = setAtagHrefParm('#syukujitsuList', 'date', date);
	//日にちごとのお金取得用url
	const AmountByDayUrl = setAtagHrefParm('#AmountByDayList', 'date', date);
	//tab4 カレンダーの表示
	initStudyCalendar(date, 'tabCalendar', 'booksListbytabCalendar', syukujitsuUrl, AmountByDayUrl)
</script>
