<!DOCTYPE html>
<!--th:replace 属性を使用して、テンプレートであるcommon/template.htmlのlayout フラグメントの内容でhtml タグ以下の内容を置換している。
~{::title} は自身のテンプレートHTMLのtitle タグを、~{::body/content()} は自身のテンプレートHTMLのbody タグ内のコンテンツを取得している。
そして、自身のHTMLのtitle タグ、body タグをcommon/template.htmlのlayout フラグメントにパラメータとして渡している。
また追加でcss、jsを各画面ごとに読み込みたい場合に備えて、それぞれのパラメーターを渡せるように作成した。
そのため、 画面レイアウトを合成するなかで使用されるのはパラメータとして渡したtitle タグ、body タグの内容
場合に応じてscriptタグ、cssが記載されたhtmlのフラグメント指定文(もしくは~{::body/content()} などでタグ内のコンテンツなどを指定)のみである。
ここでは、単独でHTMLとして表示できるようにbodyタグ以上のタグも記述し仮のタイトルを記述している。*/-->
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{common/template :: layout(~{::title},~{::body/content()},~{},~{})}">

<head>
  <title>study top</title>
</head>

<body>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h3">ダッシュボード</h1>
    <div class="btn-group ml-auto"></div>
  </div>
</body>

</html>