<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mybatis="http://mybatis.org/schema/mybatis-spring" xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	    http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">
    <!-- Spring MVCの使用を宣言 -->
    <!-- Register components of Spring MVC. -->
    <!-- <mvc:annotation-driven> -->
    <!-- REST API の返却値のリソースのフォーマットとしてJSONを使用 -->
    <!-- <mvc:message-converters register-defaults="true">
            <ref bean="jsonMessageConverter" />
        </mvc:message-converters> -->
    <!-- ページ検索機能を有効にするための設定を追加する。ページ検索が必要ない場合は、本設定は不要であるが、定義があっても問題はない。今のとこ実装してないからいらないかも-->
    <!-- <mvc:argument-resolvers>
            <bean class="org.springframework.security.web.method.annotation.AuthenticationPrincipalArgumentResolver" />
            <bean class="org.springframework.data.web.PageableHandlerMethodArgumentResolver" />
        </mvc:argument-resolvers>
    </mvc:annotation-driven> -->


    <context:annotation-config />
    <!-- Beanクラスが格納されるパッケージのルートを宣言 -->
    <context:component-scan base-package="org.watanabe.app.common" />
    <context:component-scan base-package="org.watanabe.app.study" />

    <!-- Load properties files for placeholder. -->
    <!-- (1) -->
    <!-- <context:property-placeholder location="classpath*:/META-INF/spring/*.properties" /> -->

    <!-- アノテーションでトランザクションを制御 -->
    <tx:annotation-driven />
</beans>
