<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{common/template :: layout(~{::title},~{::body/content()},~{::script},~{})}"
>
  <head>
    <title>アカウント一覧</title>
    <script th:src="@{/js/account/accountIndex.bundle.js}"></script>
  </head>

  <body>
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
      <h1 class="h3">アカウント一覧</h1>
      <div class="btn-group ml-auto">
        <a class="btn btn-link" th:href="@{/system/account/input}">
          <span data-feather="user-plus"></span>
          アカウント登録
        </a>
      </div>
    </div>
    <div class="container">
      <div th:if="!${accountList.size()}">
        <p>アカウント情報が存在しません</p>
      </div>
      <table
        id="accountListTable"
        class="table table-bordered"
        th:if="${accountList.size()}"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ユーザID</th>
            <th scope="col">パスワード</th>
            <th scope="col">ユーザ名</th>
            <th scope="col">アカウント種別</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="account, accountSt : ${accountList}">
            <td th:text="${accountSt.count}"></td>
            <td th:text="${account.userId}"></td>
            <td>**********</td>
            <td th:text="${account.userName}"></td>
            <td
              th:each="accountType : ${accountTypeList}"
              th:if="${account.accountType} == ${accountType.code}"
              th:text="${accountType.name}"
            ></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
